.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: painted;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.game {
  margin-top: 75px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  border-radius: 5px;
  float: left;
  font-size: 100px;
  font-weight: bolder;
  line-height: 34px;
  height: 100px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 100px;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

p {
  font-size: 50px;
}

.status {
  margin-top: 50px;
  font-size: 50px;
  font-weight: bold;
}
